.skillCard {
  position: relative;
  font-weight: bold;
  height: 20vh;
  color: var(--secondary-dark);
  padding: 5px;
  border: 1px solid white;

  display: grid;
  grid-template-columns: 30% 10% 60%;
}

.title {
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
}

.title > h3 {
  margin: 0;
  text-align: center;
}

.icons {
  display: grid;
  grid-template-rows: 50% 50%;
  place-items: center;
}

.icons > svg {
  font-size: var(--icon);
}

.lists {
  display: grid;
  grid-template-rows: 50% 50%;
  place-items: center;
}
