.imgBackground,
.separator,
.description,
.listTitle {
  display: none;
}
.card {
  padding: 2.5%;
  width: 100%;
  background: var(--card-background-opacity);
  border-radius: 10px;
}

.skillCard {
  font-weight: bold;
  height: 20vh;
  color: var(--secondary-dark);
  display: grid;
  grid-template-columns: 30% 10% 60%;
}

.title {
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
}

.title > h3 {
  word-wrap: break-word;
  margin: 0;
  text-align: center;
}

.icons {
  display: grid;
  grid-template-rows: 50% 50%;
  place-items: center;
}

.icons > svg {
  font-size: var(--icon);
}

.lists {
  display: grid;
  grid-template-rows: 50% 50%;
  place-items: center;
}
@media (min-width: 768px) {
  .card {
    position: relative;
    display: grid;
    place-items: center;
    width: 100%;
    min-height: 85vh;
  }
  .imgBackground {
    position: absolute;
    top: 0;
    border-radius: 10px;
    display: flex;
    min-height: 85vh;
    width: 100%;
    filter: grayscale(100%) contrast(100%);
  }
  .description {
    align-items: center;
    background: var(--card-background-opacity);
    height: 18em;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    padding: 5%;
    border-radius: 10px;
    font-size: var(--text);
  }
  .skillCard {
    border-radius: 10px;
    grid-template-columns: 100%;
    width: 100%;
    min-height: 85vh;
    position: absolute;
    top: 0;
    filter: drop-shadow(0 0 0.025rem rgb(0, 0, 0));
    background: rgba(50, 50, 50, 0.5);
    display: grid;
    grid-template-rows: 15% 15% 70%;
  }
  .listTitle {
    display: block;
    margin: 0;
    font-size: var(--text);
  }
  .icons {
    grid-template-columns: 42.5% 20% 8.75% 20% 8.75%;
    grid-template-rows: 100%;
    place-items: center;
  }
  .icons > svg {
    justify-self: flex-start;
    font-size: var(--text);
  }
  .separator {
    display: block;
    width: 100%;
    height: 2.5%;
    background: var(--secondary-dark);
  }
  .title {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-left: 5%;
  }
  .title > h3 {
    text-align: start;
    font-size: var(--title);
  }
  .lists {
    grid-template-columns: 39% 29% 29%;
    place-items: start;
    gap: 1%;
    height: 100%;
    padding: 2.5%;
  }
}
