.skillContainer {
  display: grid;
  grid-template-columns: 100%;
  place-items: center;
  gap: 5vh;
  animation: toVisible 0.5s;
  width: 100%;
}

@keyframes toVisible {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (min-width: 768px) {
  .skillContainer {
    grid-template-columns: repeat(4, 25%);
    gap: 0;
    width: 80%;
    height: 70%;
  }
}
