.card {
  height: 100%;
  width: 100%;
  background: transparent;
  color: var(--secondary-dark);
  display: grid;
  grid-template-rows: 85% 15%;
  place-items: center;
  gap: 20px;
  font-weight: bold;
  padding: 5%;
}

.titleBody,
.descriptionBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation-name: toVisible;
  animation-duration: 0.5s;
}
.descriptionBody {
  background: var(--card-background-opacity);
  padding: 5%;
  border-radius: 10px;
}
.description > p:last-child {
  text-align: center;
}

.displayNone {
  display: none !important;
}

.title {
  font-size: var(--title);
}

.subtitle {
  font-size: var(--subtitle);
}
.displayButton {
  align-self: flex-start;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.personalDataButton {
  width: var(--button);
  font-size: var(--text);
  background: var(--secondary-dark);
  padding: 1.5% 2.5% 1.5% 2.5%;
  color: var(--primary-dark);
  font-family: inherit;
  border: none;
  border-radius: 5px;
  animation-name: toVisible;
  animation-duration: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.description {
  text-align: justify;
  font-size: var(--text);
}

.tags {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10%;
  width: 100%;
}

.skillTag {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 25%;
  background: var(--background-opacity);
  padding: 1% 2.5% 1% 2.5%;
  color: var(--secondary-dark);
  font-family: inherit;
  font-size: var(--tag);
  border: none;
  border-radius: 10px;
}

/* ANIMATIONS */

@keyframes toVisible {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (min-width: 768px) {
  .card {
    width: 80%;
    /* height: 80%; */
    padding: 0%;
    gap: 0;
  }
  .skillTag {
    width: 20%;
  }
  .descriptionBody {
    padding: 2.5%;
    width: 75ch;
  }
  .description > p {
    /* margin: 1%; */
  }
  .personalDataButton {
    width: 150px;
    height: 40px;
    margin: 0;
    transition: 0.3s all ease-in-out;
    padding: 1%;
  }
  .personalDataButton:hover {
    background: var(--hover-dark);
  }
  .tags {
    display: none;
  }
}
