.darkColor {
  transition: all 0.3s ease-in-out;
  color: var(--primary-dark) !important;
  background: var(--secondary-dark) !important;
}

.button {
  color: var(--primary-clear);
  font-weight: bold;
  font-size: var(--text);
  background: var(--secondary-clear);
  padding: 1.5% 2.5% 1.5% 2.5%;
  font-family: inherit;
  border: none;
  border-radius: 5px;
  animation-name: toVisible;
  animation-duration: 0.5s;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

@media (min-width: 768px) {
  .button {
    cursor: pointer;
    width: 150px;
    height: 40px;
    margin: 0;
    transition: 0.3s all ease-in-out;
    padding: 1%;
  }
}
