.displayNone {
  display: none !important;
}
.darkColor {
  color: var(--secondary-dark) !important;
  backdrop-filter: blur(2.5px) brightness(0.1) !important;
  background: rgba(50, 50, 50, 0.5) !important;
}

.card {
  position: relative;
  display: grid;
  place-items: center;
  width: 100%;
  min-height: 85vh;
  border-radius: 10px;
  padding: 2.5%;
  font-weight: bold;
}

.imgBackground {
  border-radius: 10px;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  filter: grayscale(100%) contrast(100%);
  object-fit: scale-down;
}
.name {
  font-size: var(--title);
}
.title {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 5%;
  background: hsla(0, 0%, 100%, 0.701);
  backdrop-filter: blur(5px) brightness(0.1);
  border-radius: 0 0 10px 10px;
}
.content {
  top: 0;
  padding: 5%;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 100%;
  width: 100%;
  height: 100%;
  position: absolute;
  backdrop-filter: blur(2.5px) brightness(0.1);
  background: rgba(255, 255, 255, 0.701);
  animation: toVisible 0.5s ease-in-out;
}
.section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  height: fit-content;
}

.openOptions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  margin: 2.5% 0 2.5% 0;
}
.closeOptions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 1.5rem;
}
.moreInfo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: var(--secondary-dark);
  border-radius: 5px;
  border: none;
  font-size: var(--subtitle);
  padding: 5%;
  width: 75%;
  color: var(--primary-dark);
  cursor: pointer;
}
.close {
  color: var(--secondary-clear);
  background: var(--primary-clear);
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: var(--title);
  display: flex;
  justify-content: center;
  align-items: center;
}
.separator {
  background: var(--secondary-dark);
  height: var(--separator);
  width: 100%;
}
.business,
.language {
  font-size: var(--subtitle);
  margin: 2.5% 0 2.5% 0;
}
.endDate {
  margin: 2.5% 0 2.5% 0;
  font-size: var(--text);
  color: var(--secondary-dark-opacity);
  justify-self: flex-end;
}
.description {
  font-size: var(--text);
  background: var(--background-opacity);
  padding: 2.5%;
  border-radius: 5px;
  height: fit-content;
}
.languages {
  display: grid;
  grid-template-columns: 35% 65%;
  align-items: center;
}
.list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
}
.links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 5%;
}
.link {
  background: var(--secondary-dark);
  color: var(--primary-dark);
  padding: 1.5%;
  border-radius: 5px;
  height: 30px;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.link > svg {
  font-size: var(--text);
}

@media (min-width: 768px) {
  .card {
    min-height: 70vh;
  }
  .language {
    margin: 0;
  }
  .openOptions {
    margin: 0;
  }
  .title {
    padding: 2.5%;
  }
  .description {
    padding: 2.5%;
  }
  .links {
    align-items: center;
  }
  .link {
    max-width: 150px;
    height: 40px;
  }
  .close {
    font-size: var(--text);
    padding: 0.5%;
    width: 30px;
  }
  .moreInfo {
    padding: 0;
    font-size: var(--text);
    height: 50%;
    width: 50%;
  }
}
@media screen and (min-device-width: 768px) and (max-device-height: 600px) and (orientation: landscape) {
  .card {
    min-height: 90vh;
  }
  .title {
    font-size: var(--text);
  }
  .business,
  .endDate,
  .description > p,
  .language,
  .link {
    font-size: var(--landscape-text);
  }
}

@keyframes toVisible {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
