.navButton {
  font-family: inherit;
  font-weight: bold;
  position: relative;
  left: -100%;
  height: 10%;
  width: 50%;
  text-align: start;
  border: none;
  border-left: 1.5px solid transparent;
  background: transparent;
  color: var(--secondary-dark);
  animation: leftToRight 0.7s forwards;
  cursor: pointer;
}

.currentRoute {
  border-left: 1.5px solid var(--secondary-dark);
  transition: 0.15s ease-in-out;
}

@media (min-width: 768px) {
  .navButton {
    font-size: var(--navbar-button-complete-screen);
    left: 0;
    height: 70%;
    width: 15%;
    text-align: center;
    border-left: none;
    animation: none;
    cursor: pointer;
    position: relative;
  }

  .navButton::after {
    content: '';
    position: absolute;
    height: var(--separator);
    width: 100%;
    transform: scaleX(0);
    bottom: 0;
    left: 0;
    background: var(--secondary-dark);
    transform-origin: bottom center;
    transition: transform 0.25s ease-out;
  }

  .navButton:hover::after {
    transform: scaleX(1);
    transform-origin: bottom center;
  }

  .currentRoute::before {
    content: '';
    position: absolute;
    width: 100%;
    height: var(--separator);
    bottom: 0;
    left: 0;
    background-color: var(--secondary-dark);
  }
}
/* ANIMATIONS */
@keyframes leftToRight {
  0% {
    left: -100%;
  }
  50% {
    left: -50%;
  }
  100% {
    left: 0%;
  }
}
