.collectionList {
  width: 90%;
  display: grid;
  place-items: center;
  gap: 2.5vh;
  animation: toVisible 0.5s;
}

@media (min-width: 768px) {
  .collectionList {
    width: 60%;
  }
}

/* ANIMATIONS */

@keyframes toVisible {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
