.collectionList {
  width: 100%;
  display: grid;
  place-items: center;
  gap: 2.5vh;
  animation: toVisible 0.5s;
  padding: var(--mobile-padding);
}

@media (min-width: 768px) {
  .collectionList {
    padding: var(--desktop-padding);
  }
}

/* ANIMATIONS */

@keyframes toVisible {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
