.container {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.presentationCardContainer {
  /* margin-top: 15%; */
  position: relative;
  top: 10%;
  width: 100%;
  min-height: 80%;
  display: grid;
  place-items: center;
}

.skillsContainer {
  position: relative;
  top: 10%;
  width: 100%;
  min-height: 100%;
  display: grid;
  place-items: center;
  padding-bottom: 30%;
}
.certificationContainer {
  position: relative;
  top: 10%;
  width: 100%;
  min-height: 100%;
  display: grid;
  place-items: center;
  padding-bottom: 30%;
}
