.container {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.displayNone {
  display: none !important;
}

.presentationCardContainer {
  margin-top: 10vh;
  min-height: 70vh;
  display: grid;
  place-items: center;
  padding-bottom: 20vh;
}

.skillsContainer,
.certificationContainer,
.experienceContainer {
  margin-top: 10vh;
  min-height: 100vh;
  display: grid;
  place-items: center;
  padding-bottom: 20vh;
}

@media (min-width: 768px) {
  .skillsContainer,
  .certificationContainer,
  .experienceContainer {
    margin-top: 15vh;
  }
  .presentationCardContainer {
    margin-top: 15vh;
    min-height: 65vh;
  }
}
