.container {
  height: 100vh;
  /* width: 100vw; */
  position: relative;
}

.displayNone {
  display: none !important;
}

.presentationCardContainer {
  position: relative;
  top: 10%;
  width: 100%;
  min-height: 80%;
  display: grid;
  place-items: center;
}

.skillsContainer,
.certificationContainer {
  position: relative;
  top: 10%;
  width: 100%;
  min-height: 100%;
  display: grid;
  place-items: center;
  margin-bottom: 20%;
}

@media (min-width: 768px) {
  .skillsContainer,
  .certificationContainer {
    top: 15%;
    justify-items: center;
    align-items: flex-start;
    margin-bottom: 10%;
  }
  .presentationCardContainer {
    top: 15%;
  }
}
