.certificationList {
  display: grid;
  place-items: center;
  gap: 1vh;
  animation: toVisible 0.5s;
}

/* ANIMATIONS */

@keyframes toVisible {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
