.certificationCard {
  width: 100%;
  min-height: 50vh;
  display: grid;
  grid-template-columns: 50% 50%;
  color: var(--secondary-dark);
  font-weight: bold;
}
.separator {
  display: block;
  height: var(--separator);
  width: 100%;
  background: var(--secondary-dark);
}
.body {
  background: var(--card-background-opacity);
  font-size: var(--certification-card);
  display: grid;
  place-items: center;
  text-align: center;
  gap: 1em;
  padding: 5%;
  min-height: 100%;
  border-radius: 10px 0 0 10px;
}
.fields {
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
}
.fields > h4,
.fields > p {
  margin: 0;
  inline-size: 100%;
}

.fields > h4 {
  font-size: var(--subtitle);
}
.fields > p {
  font-size: var(--text);
}

.fields > a {
  padding: 2.5%;
  font-size: var(--text);
  color: var(--primary-dark);
  border-radius: 5px;
  background: var(--secondary-dark);
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
}
.degree {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.degree > h3 {
  margin: 0;
  font-size: var(--title);
}
.extendedInformation {
  display: grid;
  grid-template-rows: 20% 80%;
  place-items: center;
  text-align: center;
  background: var(--background-opacity);
  color: var(--secondary-dark);
  padding: 5%;
  border-radius: 0 10px 10px 0;
}
.description {
  font-size: var(--text);
  margin: 0;
}

.icon {
  font-size: var(--certification-card-icon);
  padding: 2.5%;
}

@media (min-width: 768px) {
  .certificationCard {
    height: 70vh;
    width: 100%;
    background: var(--card-background-opacity);
    border: none;
    border-radius: 10px;
  }
  .fields {
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }
  .degree {
    width: 100%;
  }
  .fields > a {
    display: flex;
    justify-content: space-evenly;
    font-size: var(--text);
    color: var(--primary-dark);
    background: var(--secondary-dark);
    background-size: cover;
    backdrop-filter: grayscale(100%);
    width: 100%;
    max-width: 300px;
    height: 45%;
    transition: all 0.3s ease-in-out;
  }
  .fields > a:hover {
    background: var(--hover-dark);
  }
  .fields > h4 {
    text-align: start;
    border-bottom: none;
  }
  .fields > p {
    text-align: center;
  }
  .img {
    object-fit: contain;
    filter: brightness(0);
  }
  .extendedInformation {
    grid-template-rows: 35% 65%;
    background: none;
  }
  .extendedInformation > svg {
    align-self: flex-end;
  }
  .description {
    background: var(--background-opacity);
    border-radius: 10px;
    padding: 5%;
  }
}
@media screen and (min-device-width: 768px) and (max-device-height: 600px) and (orientation: landscape) {
  .certificationCard {
    min-height: 100vh;
  }
  .degree > h3 {
    font-size: var(--text);
  }
  .fields > h4,
  .fields > p {
    font-size: var(--landscape-text);
  }
  .extendedInformation {
    grid-template-rows: 25% 75%;
  }
  .description {
    align-self: flex-start;
    overflow: auto;
    font-size: var(--landscape-text);
    height: 12rem;
  }
}
