.certificationList {
  display: grid;
  place-items: center;
  gap: 1vh;
  animation: toVisible 0.5s;
}

@media (min-width: 768px) {
  .certificationList {
    gap: 2.5vh;
  }
}

/* ANIMATIONS */

@keyframes toVisible {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
