.darkColor {
  color: var(--secondary-clear) !important;
}

.changeColor {
  border: none;
  background: transparent;
  color: var(--secondary-dark);
  font-size: var(--close-or-open);
  display: flex;
  align-items: center;
  margin: 0% 0% 0% 5%;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 768px) {
  .changeColor {
    cursor: pointer;
    margin: 0 0 0 2.5%;
    font-size: var(--title);
  }
}
