:root {
  --secondary-clear: #a17968;
  /* color: #a98e78;
  color: #bcaf9b; */
  --primary-clear: #d4cdc1;
  --letter-clear: #e6e7de;

  --primary-dark: #111112;
  --secondary-dark: #988345;
  --detail-dark: #f2f1ed;
}
