:root {
  --secondary-clear: #a17968;
  --primary-clear: #d4cdc1;
  --secondary-clear: #493e1c;

  --navbar-opacity: rgb(16, 16, 16);
  --title-opacity: rgba(16, 16, 16, 0.433);
  --card-background-opacity: rgba(71, 71, 71, 0.164);
  --background-opacity: rgba(255, 246, 246, 0.1);
  --primary-dark: #111112;
  --secondary-dark-opacity: #706542;
  --secondary-dark: #988345;
  --hover-dark: #baa052;
  --detail-dark: #f2f1ed;
}
